body {
  background:#fff;
  color:#000;
  font:1.3em Arial, sans-serif;
  padding:1em;
  margin:1em auto;
  max-width:35em;
  border:1px solid #ccc;
}

h1 {
  font-size:5em;
  line-height:.8em;
  margin:0;
}

.moto {
  
}

blockquote {
  
}

tt {
  background:#eee;
  padding:.2ex .8ex;
}

ul {
}
