
<p class="moto">If you've got an email, you've <em>already</em> got an OpenID.</p>

<blockquote><p><abbr>OMG</abbr>! <cite>- an imaginary user</cite></p></blockquote>

<p>If you login with <tt><%= h ApplicationController::BASE_URI %>auth/<strong>youremail@example.com</strong></tt> as your OpenID, it'll ask if that <abbr>URI</abbr> really belongs to you <span class="highlight">by sending you an email</span>. As simple as that!</p>

<ul>
  <li>No account to create</li>
  <li>No phishing page-in-the-middle that asks you for your password...</li>
  <li>...because there <em>is</em> no password</li>
</ul>

